- name: Configure server
  hosts: all
  become: yes

  tasks:
    - name: Update apt cache and upgrade packages
      apt:
        update_cache: yes
        upgrade: safe
        cache_valid_time: 3600

    - name: Add Fish shell repository
      apt_repository:
        repo: ppa:fish-shell/release-3
        state: present

    - name: Install fish
      apt:
        name: fish
        state: present
        update_cache: yes

    - name: Set fish as default shell for root
      user:
        name: root
        shell: /usr/bin/fish

    - name: Install mosh
      apt:
        name: mosh
        state: present
        update_cache: yes

   # Docker
    - name: Install prerequisites for Docker
      apt:
        name:
          - ca-certificates
          - curl
        state: present

    - name: Create keyrings directory
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Download Docker GPG key
      get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'

    - name: Add Docker repository
      ansible.builtin.deb822_repository:
        name: docker
        types: deb
        uris: https://download.docker.com/linux/ubuntu
        suites: "{{ ansible_facts['distribution_release'] }}"
        components: stable
        signed_by: /etc/apt/keyrings/docker.asc
        state: present

    - name: Install Docker
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-compose-plugin
        state: present
        update_cache: yes

    - name: Start and enable Docker
      systemd:
        name: docker
        state: started
        enabled: yes

    # Caddy
    - name: Add Caddy GPG key
      apt_key:
        url: https://dl.cloudsmith.io/public/caddy/stable/gpg.key
        state: present

    - name: Add Caddy repository
      apt_repository:
        repo: "deb https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main"
        state: present

    - name: Install Caddy
      apt:
        name: caddy
        state: present
        update_cache: yes

    # Tailscale
    - name: Add Tailscale GPG key
      apt_key:
        url: https://pkgs.tailscale.com/stable/ubuntu/{{ ansible_facts['distribution_release'] }}.noarmor.gpg
        state: present

    - name: Add Tailscale repository
      apt_repository:
        repo: "deb https://pkgs.tailscale.com/stable/ubuntu {{ ansible_facts['distribution_release'] }} main"
        state: present

    - name: Install Tailscale
      apt:
        name: tailscale
        state: present
        update_cache: yes

    - name: Start and enable Tailscale
      systemd:
        name: tailscaled
        state: started
        enabled: yes